<h1 class="animated fadeIn fast"> Comic APP </h1>
<hr>
<p class="animated fadeIn">
  Descripción
  !Queremos que hagas parte de nuestro equipo !

  Buscamos desarrolladores con mas de 2 años de experiencia y con los siguientes conocimientos:

  PHP
  SQL
  MYSQL
  CSS
  CSS3
  HTML
  HMTL5
  JAVASCRIPT
  JQUERY

  Opcionales:
  REACT JS
  JOOMLA
  WORDPRESS
  PHALCON PHP

  Funciones:
  Realizar análisis critico de las soluciones planeadas
  Desarrollar código fuente que cumpla con los requisitos funcionales, técnicos y de calidad.
  Reutilizar código existente cuando sea posible.
  Cumplir con las directrices de arquitectura definida.
  Ejecuar el proceso de desarrollo definido por la organización
  Cumplir con los entrenamientos de la organización
  Fecha de contratación: 15/01/2018
  Cantidad de vacantes: 1
  Requerimientos
  Educación mínima: Universidad / Carrera tecnológica
  Años de experiencia: 2
  Edad: entre 19 y 40 años
  Disponibilidad de viajar: No
  Disponibilidad de cambio de residencia: No
</p>
